* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 10px;
}

/* Code for the mobile devices has been started */
.container {
	width: 100%;
    padding: 0 10px;
}
.flex {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
main,header,nav,section,footer,div,h1,h2,h3,h4,p,hr {
	width: 100%;
}
header {
	background-color: lightgrey;
}
header #my-profile-pic{
	justify-content: center;
	margin: 1.5em 0 1em 0;
}
#my-profile-pic img {
	min-width: 15em;
	min-height: 15em;
	border: 1px solid black;
	border-radius: 50%;
}

.title-box {
	justify-content: center;
}
.title {
	padding: 5px;
}
.title h1 {
	margin: 0 0;
	font-size: 3em;
	text-align: center;
	text-transform: uppercase;
	/*letter-spacing: 0.1em;*/
}
.title-box hr {
	margin:0;
	width: 80%;
}
.title-box .sub-title {
	padding: 5px;
}
.sub-title h4 {
	font-size: 1.5em;
	margin: 0;
	text-align: center;
	text-transform: uppercase;
}
.social-media-links {
	justify-content: center;
}
.social-media-list {
	list-style: none;
	margin: 0;
	padding: 1em;
	justify-content: center;
	/*justify-content: space-around;*/
	/*width: 60%;*/
}
.sm-list-items {
	display: inline-block;
	width: 3.5em;
	height: 3.5em;
	border-radius: 50%;
	border: 0.05em solid black;
}