* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 10px;
}

/* Code for the mobile devices has been started */
.container {
	width: 100%;
    padding: 0 10px;
}
.flex {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
main,header,nav,section,footer,div,h1,h2,h3,h4,p,hr {
	width: 100%;
}
h1,h2,h3,h4,h5,h6,p,hr {
	margin: 0;
}
/* CSS rules for the "header" starts here */
header {
	background-color: lightgrey;
}
header #my-profile-pic{
	justify-content: center;
	margin: 1.5em 0 1em 0;
}
#my-profile-pic img {
	min-width: 15em;
	min-height: 15em;
	border: 1px solid black;
	border-radius: 50%;
}

.title-box {
	justify-content: center;
}
.title {
	padding: 5px;
}
.title h1 {
	margin: 0 0;
	font-size: 3em;
	text-align: center;
	text-transform: uppercase;
	/*letter-spacing: 0.1em;*/
}
.title-box hr {
	margin:0;
	width: 80%;
}
.title-box .sub-title {
	padding: 5px;
}
.sub-title h4 {
	font-size: 1.5em;
	margin: 0;
	text-align: center;
	text-transform: uppercase;
}
.social-media-links {
	justify-content: center;
}
.social-media-list {
	list-style: none;
	margin: 0;
	padding: 1em;
	justify-content: center;
	/*justify-content: space-around;*/
	/*width: 60%;*/
}
.sm-list-items {
	display: inline-block;
	width: 3.5em;
	height: 3.5em;
	border-radius: 50%;
	border: 0.05em solid black;
}

/* CSS rules for the "nav-bar" starts here */
nav {
	justify-content: center;
	background-color: black;
}
.nav-menu {
	flex-direction: column; 
	/* Flex-direction should be column so that all the child elements
	will flow in column mode*/
	list-style: none;
	margin: 0;
	padding: 1em;
	justify-content: center;
	width: 100%;
}
.nav-menu-items {
	display: block;
	text-align: center;
	width: 100%;
	padding: 0.5em;
}
.nav-menu-items a {
	/*display: block;*/
	font-size: 1.4em;
	text-decoration: none;
	color: white;
	vertical-align: middle;
}
.nav-menu-items a:hover {
	cursor: pointer;
	text-decoration: underline;
	color: red;  /* temporary color */
}

/* CSS rules for the Section Starts Here */
/* Fist Rules for the comman classes in all the sections goes below*/
section {
	justify-content: center;
}
section .section-title {
	padding: 1em 1em 0.5em 1em;
}
.section-title h2 {
	font-size: 2.2em;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.08em;
}
.section-content {
	padding: 1em;
}
section hr {
	display: block;
}
.hr-1 {
	width: 50%;
}
.hr-2 {
	width: 50%;
}
.hr-3 {
	width: 50%;
}
/* Specific rules for the section child-elements starts here */
#about {
	background-color: lightgreen;
}
.section-content .about-me-content {
	font-size: 1.4em;
	line-height: 1.5;
}
